body {
    margin: 0;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

header {
    position: fixed;
    z-index: 5;
    top: 0;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e6c7a;
    color: white;
    height: 5vh;
    width: 100vw;
}

.upper p {
    margin-left: 1vw;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.search input {
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.5vw;
    text-align: center;
}

.search img {
    margin-right: 0.5vw;
}

.header {
    background-color: white;
    height: 5vw;
    border-bottom: 1px solid #16222A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.logo {
    font-family: 'Water Brush', cursive;
    font-size: 5vh;
    margin-left: 2vw;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 3vw;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 20vh;
}

h2 {
    color: #4e6c7a;
}

main p {
    font-weight: 500;
    width: 40%;
    margin: auto;
}

main p a {
    color: #4e6c7a;
}

.images {
    display: flex;
    margin: 5vh 20vw 10vh 18vw;
}

.images img {
    width: 15vw;
}

footer {
    background-color: #16222A;
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    margin-top: 20vh;
}

footer a {
    color: white;
}

@media(max-width: 992px) {
    main p {
        width: 65%;
    }

    footer {
        margin-top: 20vh;
    }
}

@media(max-width: 576px) {
    .upper {
        display: none;
    }

    .header {
        height: fit-content;
    }

    main p {
        width: 95%;
    }

    .images {
        margin: 5vh 0 10vh 0;
    }

    .images img {
        width: 25vw;
    }

    footer {
        margin-top: 20vh;
    }
}