body {
    margin: 0;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

header {
    position: fixed;
    z-index: 5;
    top: 0;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e6c7a;
    color: white;
    height: 5vh;
}

.upper p {
    margin-left: 1vw;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.search input {
    border: none;
    border-radius: 0.25rem;
    margin-right: 1vw;
    text-align: center;
}

.header {
    background-color: white;
    width: 100vw;
    height: 5vw;
    border-bottom: 1px solid #16222A;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-family: 'Water Brush', cursive;
    font-size: 5vh;
    margin-left: 2vw;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 3vw;
}

a {
    text-decoration: none;
    color: black;
}

.search img {
    margin-right: 0.5vw;
}

.container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: fit-content;
    background-color: #97baca;
    border-radius: 00.25rem;
    padding: 1vw;
    margin-bottom: 10vh;
    text-align: left;
}

fieldset {
    border: none;
}

form label {
    display: inline-block;
    width: 25vw;
    padding: 1vw;
}

textarea {
    margin-left: 3.5%;
}

.btn-grad {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    padding: 0.75vw;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 40%;
}

.btn-grad:hover {
    background-position: right center;
}

footer {
    background-color: #16222A;
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

footer a,
footer p {
    color: white;
}

@media(max-width: 992px) {
    form {
        width: fit-content;
    }

    footer {
        margin-top: 20vh;
    }
}

@media(max-width: 576px) {
    .upper {
        display: none;
    }

    .header {
        height: fit-content;
    }

    form {
        width: 85%;
    }

    form label {
        width: 60%;
    }

    footer {
        margin-top: 25vh;
    }
}