body {
    margin: 0;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

header {
    position: fixed;
    z-index: 5;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e6c7a;
    color: white;
    height: 5vh;
    width: 100vw;
}

.upper p {
    margin-left: 1vw;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.search input {
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.5vw;
    text-align: center;
}

.search img {
    margin-right: 0.5vw;
}

.header {
    background-color: white;
    width: 100vw;
    height: 5vw;
    border-bottom: 1px solid #16222A;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-family: 'Water Brush', cursive;
    font-size: 5vh;
    margin-left: 2vw;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 3vw;
}

a {
    text-decoration: none;
    color: black;
}

main img {
    width: 80vw;
    margin: 20vh auto 2vh auto;
}

.sentelle {
    color: #16222A;
}

h2 {
    color: #4e6c7a;
}

main p {
    font-weight: 500;
    margin-bottom: 5vh;
}

main p a {
    color: #4e6c7a;
}

footer {
    background-color: #16222A;
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

footer a {
    color: white;
}